h1, a {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.header {
    position: fixed;
    height: 128px;
    background: rgba(255, 255, 255, .75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    display: flex;
    z-index: 10;
}

.header-wrapper {
    display: flex;
    width: 1440px;
    margin: auto;
    padding: 16px;
}

.logo {
    background: url(../img/logo.png) no-repeat center;
    background-size: contain;
    width: 96px;
    height: 96px;
    margin: auto 16px;
    top: 0;
    bottom: 0;
    position: absolute;
}

.navbar {
    margin: auto;
    display: flex;
}

.navbar li {
    display: flex;
}

.nav-button {
    box-shadow: inset 0 0 0 50px transparent, 0 0 0 50px transparent;
    border-radius: 100px;
    transition: .3s ease-in-out;
}

.nav-button:active {
    box-shadow: inset 0 0 0 50px rgba(255, 255, 255, .5), 0 0 0 50px rgba(255, 255, 255, .5);
    transform: scale(0.5);
}

.icon {
    width: 48px;
    height: 48px;
    pointer-events: none;
}

.nav-button:hover > .tooltip{
    opacity: 1;
    transform: none;
}

.nav-button:active > .tooltip{
    opacity: 0;
    transform: scale(0);
}

.tooltip {
    position: fixed;
    opacity: 0;
    transform: translateY(-100%);
    background: #000;
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    width: 80px;
    border-radius: 100px;
    pointer-events: none;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home, #teams, #news{
    margin-right: 128px;
}
#facebook, #instagram{
    margin-right: 25px;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.carousel-main{
        margin-bottom: 20px
}

.slide {
    width: 100%;
    height: 800px;
}

.bg {
    width: 100%;
}

.slide-nav {
    box-shadow: 0 0 0 3px #000;
}
.slide-nav >img{
    margin: 0 10px;
    border-radius: 12px;
}
.footer {
    height: 500px;
    background: #040000;
    display: flex;
    color: #fff;
    text-align: center;
}
.separator {
    height: 5px;
    margin: 100px 0px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.2);
}
.footer h3 {
    font-size: 1.2em
}
.footer h4 {
    font-size: 1.2em
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.25em;
}
.social {
    border-radius: 100px;
    background: rgba(128, 128, 128, 0.05);
    display: flex;
    width: max-content;
    margin: 3em auto;
    padding: 1em 1.5em 1em 1.5em;
}
.footer .copyright {
    text-align: center;
    color: rgba(128, 128, 128, 0.75);
    font-size: 0.9em;
    cursor: default;
    vertical-align: baseline;
    bottom: 0;
}
ul.menu {
    height: 1em;
    line-height: 1em;
    list-style: none;
    padding-left: 0;
}
.menu li {
    display: inline-block;
    padding-left: 1.25em;
    margin-left: 1.25em;
}
.menu li a{
    color: rgba(128, 128, 128, 0.75);
}
.menu li a:hover{
    color: rgba(128, 128, 128, 0.75);
}
#by {
    border-left: solid 1px rgba(128, 128, 128, 0.2);
}