body {
    margin: 0;
}

.header {
    position: fixed;
    height: 128px;
    background: blue;
    width: 100%;
    display: flex;
}

.header-wrapper {
    display: flex;
    width: 1440px;
    margin: auto;
    padding: 16px;
}

.logo {
    background: url(../img/logo.png) no-repeat center;
    background-size: contain;
    width: 96px;
    height: 96px;
    margin: auto 16px;
    top: 0;
    bottom: 0;
    position: absolute;
}

.navbar {
    margin: auto;
    display: flex;
}

.icon {
    width: 48px;
    height: 48px;
}

.nav-button:hover > .tooltip{
    opacity: 1;
    transform: none;
}

.tooltip {
    position: fixed;
    opacity: 0;
    transform: translateY(-100%);
    transform-origin: left;
    background: #000;
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    width: 80px;
    border-radius: 100px;
    pointer-events: none;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home, #teams, #news {
    margin-right: 128px;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}